*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}
/* 
.home{
    overflow: hidden;
} */

p,span{
    font-family: "Poppins", sans-serif;
}



.l-nav h1{
    font-family: "Inter", sans-serif;
    line-height: 24px;
    letter-spacing: 3%;

}

.m-nav{
    display: flex;
    gap:35px;
    position: relative;
    width:45%;
    justify-content: center;
}

.l-nav{
    width:20%;
    text-align: center;
}

.r-nav{
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}



a::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    height:4px;
    width:0px;
    background-color: aqua;
    transition: width 0.3s ease;
}


a:hover::after{
    width: 100%;
}


.m-nav span{
    height:3px;
    width:50px;
    background-color: aqua;
    opacity: 0;
    position: absolute;
}



.m-nav a{
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    font-size: 16px;
     position: relative;
    padding-bottom: 5px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.r-nav .input{
    width:60%;
    background-color: rgb(243, 236, 236);
    border-radius: 5px;
    /* border: 1px solid black; */
    padding:10px;
    display: flex;
      justify-content: space-between;
    align-items: center;

}

.input input{
    border:none;
    outline: none;
    background-color:rgb(243, 236, 236);
    font-family:"Poppins", sans-serif;
}

a,i{
    text-decoration: none;
    cursor: pointer;
    color:black;
}

h1,h2,h3,h4,h5,h6{
     font-family: "Inter", sans-serif;
}

span,button,input{
    font-family:"Poppins", sans-serif;
}

.main{
    width:90%;
    padding:20px;
    /* background-color: red; */
    margin:auto ;

}

.input input{
    width:100%;
}

.homabt{
    display: flex;
}

.homabt h3{
    color:grey;
    cursor: pointer;
}

article{
    width:85%;
    padding:30px;
    /* background-color: red; */
    margin-top: 30px;
    gap:30px;
    display: flex;
    margin: auto;
}

.art{
    width:50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap:20px;
}

.art h1{
    font-size: 30px;
    font-weight: 300;
}

.art2 img{
    height:360px;
    width:360px;
}

.art2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ks-div{
    display: flex;
    justify-content: space-between;
    width:85%;
    margin: auto;
    margin-top: 30px;
    flex-wrap: wrap;
}

.ks{
    width:200px;
    /* height:200px; */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
    padding:10px;
}

.ks h1{
    font-weight: 500;
}

.ks:hover{
    color: white;
  background-color: #db4444;
}

.services-div{
    width:87%;
    /* border: 2px solid black; */
    padding:20px;
    margin: auto;
    display: flex;
    gap:20px;
    margin-top:40px;
}

.ser{
    width:33.33%;
    display: flex;
    flex-direction: column;
    gap:25px;
    align-items: center;
    justify-content: center;
}

.footer{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding:25px;
    background-color: black;
}

.fot{
    color:white;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.fot1 input{
            padding:7px 15px;
            outline: none;
            border: none;
            font-family: "Poppins", sans-serif;
        
}


