*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}
/* 
.home{
    overflow: hidden;
} */

p,span{
    font-family: "Poppins", sans-serif;
}



.l-nav h1{
    font-family: "Inter", sans-serif;
    line-height: 24px;
    letter-spacing: 3%;

}

.input input{
    width:100%;
}

.m-nav{
    display: flex;
    gap:35px;
    position: relative;
    width:45%;
    justify-content: center;
}

.l-nav{
    width:20%;
    text-align: center;
}

.r-nav{
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}



a::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    height:4px;
    width:0px;
    background-color: aqua;
    transition: width 0.3s ease;
}


a:hover::after{
    width: 100%;
}


.m-nav span{
    height:3px;
    width:50px;
    background-color: aqua;
    opacity: 0;
    position: absolute;
}



.m-nav a{
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    font-size: 16px;
     position: relative;
    padding-bottom: 5px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.r-nav .input{
    width:60%;
    background-color: rgb(243, 236, 236);
    border-radius: 5px;
    /* border: 1px solid black; */
    padding:10px;
    display: flex;
      justify-content: space-between;
    align-items: center;

}

.input input{
    border:none;
    outline: none;
    background-color:rgb(243, 236, 236);
    font-family:"Poppins", sans-serif;
}

a,i{
    text-decoration: none;
    cursor: pointer;
    color:black;
}

h1,h2,h3,h4,h5,h6{
     font-family: "Inter", sans-serif;
}

span,button,input{
    font-family:"Poppins", sans-serif;
}

h3 span{
    color:gray;
}

main{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.heading{
    width:70%;
    /* background-color: red; */
    padding:20px;
    margin: auto;
    display: flex;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width:25%;
    gap:20px;
}

.hey{
    justify-content: space-between;
}

.hey button{
    padding:7px 15px;
    border:2px solid black;
    border-radius: 3px;
    background-color: white;

}

button{
    cursor: pointer;
}


.total-cart{
    width:70%;
    
    padding: 20px;
    margin: auto;
    display: flex;
}

.tot1{
    width:65%;
    height:100%;
   display: flex;
   gap:20px;
}

.tot1 input{
    padding:7px 15px;
}
.tot1 button{
    padding:7px 15px;
    background-color: #db4444;
    border:none;
    border-radius: 3px;
}

.tot2{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.tota{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    /* gap:100px; */
    width:100%;
}
.checkout{
     padding:7px 15px;
    background-color: #db4444;
    border:none;
    border-radius: 3px;
}

.footer{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding:25px;
    background-color: black;
}

.fot{
    color:white;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.fot1 input{
            padding:7px 15px;
            outline: none;
            border: none;
            font-family: "Poppins", sans-serif;
        
}



@media (min-width: 300px) and (max-width: 900px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .art2{
    width:96%;
  }
  .l-nav, .m-nav, .r-nav {
    width: 100%;
    justify-content: center;
  }
  .m-nav a {
    font-size: 14px;
    display: inline-block;
    margin: 5px;
  }
  article {
    flex-direction: column;
    padding: 10px;
  }
  .art1, .art2 {
    width: 100%;
    border-right: none;
  }
  .cards, .category .cat-div {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* .car {
    min-width: 150px;
    margin-bottom: 15px;
  } */
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }

  .cards{
    flex-wrap: nowrap;
    justify-content: start;
  }

 

  .art2,.art-bla{
    height:33vh;
  }

  #h1-1{
    font-size: 25px;
  }

  article{
        min-height: 0px;
  }

  .fls{
    width:100%;
    gap:20px;
  }

  .today{
    width:40%;
  }

  .cat{
    width:100px;
    height:100px;
  }

  .blackspeaker{
    display: none;
  }

  .grid-div{
    display: none;
  }

  .thismonth{
    padding:0px;
  }

  .ser h3{
    font-size: 12px;
  }

  .ser p{
    font-size: 11px;
  }

  article{
    padding:0px;
    width:95%;
    margin: auto;
  }

  .m-nav{
    gap:20px;
  }

  .content{
    flex-direction: column;
  }

  .signup1{
    flex-direction: column;
  }

  .sign-up{
    width:100%;
  }

  .billing-div{
    flex-direction: column;
  }

  .bill1{
    width:100%;

  }

  .bill2{
    width:100%;
  }

  .payment{
    width:100%;
  }

 

  .heading{
    padding:0px;
    width:100%;
  }

   h2{
    font-size: 12px;
  }

  main{
    padding:5px;
  }

  .total-cart{
    padding:5px;
    flex-direction: column;
    width:88%;
  }



 
}
