*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.l-nav h1{
    font-family: "Inter", sans-serif;
    line-height: 24px;
    letter-spacing: 3%;

}

.m-nav{
    display: flex;
    gap:35px;
    position: relative;
    width:45%;
    justify-content: center;
}

.l-nav{
    width:20%;
    text-align: center;
}

.r-nav{
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}



a::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    height:4px;
    width:0px;
    background-color: aqua;
    transition: width 0.3s ease;
}


a:hover::after{
    width: 100%;
}


.m-nav span{
    height:3px;
    width:50px;
    background-color: aqua;
    opacity: 0;
    position: absolute;
}



.m-nav a{
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    font-size: 16px;
     position: relative;
    padding-bottom: 5px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.r-nav .input{
    width:60%;
    background-color: rgb(243, 236, 236);
    border-radius: 5px;
    /* border: 1px solid black; */
    padding:10px;
    display: flex;
      justify-content: space-between;
    align-items: center;

}

.input input{
    border:none;
    outline: none;
    background-color:rgb(243, 236, 236);
    font-family:"Poppins", sans-serif;
}

a,i{
    text-decoration: none;
    cursor: pointer;
    color:black;
}

h1,h2,h3,h4,h5,h6{
     font-family: "Inter", sans-serif;
}

span,button,input,p{
    font-family:"Poppins", sans-serif;
}

.hompro{
    display: flex;
    gap:15px;
}

.hompro h3{
    cursor: pointer;
}

.container{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:25px;
}

.input input{
    width:100%;
}

.product-div{
    width:90%;
    padding:20px;
    /* background-color: aqua; */
    margin: auto;
    height:470px;
    display: flex;
    gap:20px;
}

.prod1{
    width:60%;
    height:100%;
    /* background-color: black; */
    display: flex;
    gap:20px;
}

.prod2{
    width:40%;
    display: flex;
    flex-direction: column;
    gap:9px;
    height:100%;
    /* background-color: black; */
}

.prod11{
    width:30%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    /* background-color: blue; */
}

.prod12{
    width:70%;
    height:100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #fbf6f6;
}

.prod111{
        width:100%;
        height:24%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#fbf6f6;
}



.prod111 img{
         /* width:80%; */
        height:80%;
}

.prod12 img{
    width:40%;
    height:60%;
}

.size{
    display: flex;
    gap:10px;
    
    align-items: center;
}

.sizes{
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    border: 1px solid black;
    padding: 16px;
    cursor: pointer;

}

.sizes:hover{
    color:white;
    background-color: #db4444;;
}

.count{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    /* padding:20px; */
    
    width:100%;
}

.cou{
    padding:20px;
    border:2px solid black;
    
}

.cou1,.cou2{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cou1{
    padding:0;
    justify-content: space-around;
}

.cou3{
    width:10%;
}

.cou2{
    border-radius: 5px;
    background-color: #db4444;
    padding: 7px;
}

.cou2 button{
    width:100%;
    height:100%;
    background-color: transparent;
    border: none;
    color:white;
    font-size: 18px;
}

.cou3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.free{
    width:100%;
    /* padding: 20px; */
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* gap:10px; */
}

.fre11{
    width:25%;

}

.fre22{
    width:75%;
}

.fre1{
    display: flex;
    width:100%;
    padding:5px;
   
}

.fre2{
     display: flex;
    width:100%;
    padding:5px;
  
}

.fre12 p{
    font-size: 15px;
}

.fre12 h4{
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    background-color: black;
}

.fot {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fot1 input {
    padding: 7px 15px;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;

}

.car {
    min-width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 10px;

    border-radius: 5px;
    position: relative;
    background: #fff;



}

.per {
    width: 100%;

    height: 8%;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.per h4 {
    background-color: rgb(219, 68, 68);
    padding: 5px;
    border-radius: 3px;
}

.in-car {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f5f5f5;
    width: 187px;
    height: 250px;
    padding: 8px;
    border-radius: 3px;
    margin: auto;
    align-items: center;
}


@media (min-width: 300px) and (max-width: 900px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .art2{
    width:96%;
  }
  .l-nav, .m-nav, .r-nav {
    width: 100%;
    justify-content: center;
  }
  .m-nav a {
    font-size: 14px;
    display: inline-block;
    margin: 5px;
  }
  article {
    flex-direction: column;
    padding: 10px;
  }
  .art1, .art2 {
    width: 100%;
    border-right: none;
  }
  .cards, .category .cat-div {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* .car {
    min-width: 150px;
    margin-bottom: 15px;
  } */
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }

  .cards{
    flex-wrap: nowrap;
    justify-content: start;
  }

 

  .art2,.art-bla{
    height:33vh;
  }

  #h1-1{
    font-size: 25px;
  }

  article{
        min-height: 0px;
  }

  .fls{
    width:100%;
    gap:20px;
  }

  .today{
    width:40%;
  }

  .cat{
    width:100px;
    height:100px;
  }

  .blackspeaker{
    display: none;
  }

  .grid-div{
    display: none;
  }

  .thismonth{
    padding:0px;
  }

  .ser h3{
    font-size: 12px;
  }

  .ser p{
    font-size: 11px;
  }

  article{
    padding:0px;
    width:95%;
    margin: auto;
  }

  .m-nav{
    gap:20px;
  }

  .content{
    flex-direction: column;
  }

  .signup1{
    flex-direction: column;
  }

  .sign-up{
    width:100%;
  }

  .container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-div {
    width: 100%;
     padding: 0px; 
    /* background-color: aqua; */
    margin: auto;
    min-height: 470px;
    flex-direction: column;
    gap: 20px;
}

.prod1 {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    gap: 20px;
}

.prod2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: 100%;

}



}






