*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}
/* 
.home{
    overflow: hidden;
} */

p,span{
    font-family: "Poppins", sans-serif;
}



.l-nav h1{
    font-family: "Inter", sans-serif;
    line-height: 24px;
    letter-spacing: 3%;

}
.input input{
    width:100%;
}

.m-nav{
    display: flex;
    gap:35px;
    position: relative;
    width:45%;
    justify-content: center;
}

.l-nav{
    width:20%;
    text-align: center;
}

.r-nav{
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}



a::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    height:4px;
    width:0px;
    background-color: aqua;
    transition: width 0.3s ease;
}


a:hover::after{
    width: 100%;
}


.m-nav span{
    height:3px;
    width:50px;
    background-color: aqua;
    opacity: 0;
    position: absolute;
}



.m-nav a{
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    font-size: 16px;
     position: relative;
    padding-bottom: 5px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.r-nav .input{
    width:60%;
    background-color: rgb(243, 236, 236);
    border-radius: 5px;
    /* border: 1px solid black; */
    padding:10px;
    display: flex;
      justify-content: space-between;
    align-items: center;

}

.input input{
    border:none;
    outline: none;
    background-color:rgb(243, 236, 236);
    font-family:"Poppins", sans-serif;
}

a,i{
    text-decoration: none;
    cursor: pointer;
    color:black;
}

.art{
    width:95%;
    /* background-color: aqua; */
    padding:30px;
    /* height:100vh; */
}

.cards{
    /* width:100vw; */
   
    /* height:300px; */
    overflow-x:scroll;
    display: flex;
    justify-content: space-around;
    gap:20px;
    

}

.car{
    min-width:200px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   align-items: start;
    padding:10px;
   
    border-radius: 5px;
    
    
    
   
}



.per{
    width:100%;
    
    height:8%;
    padding:5px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.per h4{
     background-color: rgb(219, 68, 68);
     padding: 5px;
     border-radius: 3px;
}

.in-car{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f5f5f5;
    width:187px;
    height:250px;
    padding: 8px;
    border-radius: 3px;
    margin: auto;
    align-items: center;
}

.f-star{
    width:40%;
    height:25px;

}

.cart-img{
   width:100%;
   height:100%;
}

.view,.fav{
    width:25px;
    height:25px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav{
    margin-top: 5px;
}

i{
    cursor: pointer;
}

.viewproduct{
    padding:7px 30px;
    width:150px;
    text-align: center;
     font-family: "Poppins", sans-serif;
     background-color: #db4444;
     border: none;
     border-radius: 3px;
}

.thismonth{
    display:flex;
    flex-direction: column;
    gap:25px;
}

.viewall{
    padding:7px 25px;
    border: 2px solid black;
    background-color: white;
    border-radius: 2px;
}

.today{
    display: flex;
    align-items: center;
    gap:25px;
}

h1,h2,h3,h4,h5,h6{
         font-family: "Inter", sans-serif
}

button,span,p{
        font-family: "Poppins", sans-serif;
}

.footer{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding:25px;
    background-color: black;
}

.fot{
    color:white;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.fot1 input{
            padding:7px 15px;
            outline: none;
            border: none;
            font-family: "Poppins", sans-serif;
        
}


@media (min-width: 300px) and (max-width: 900px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .art2{
    width:96%;
  }
  .l-nav, .m-nav, .r-nav {
    width: 100%;
    justify-content: center;
  }
  .m-nav a {
    font-size: 14px;
    display: inline-block;
    margin: 5px;
  }
  article {
    flex-direction: column;
    padding: 10px;
  }
  .art1, .art2 {
    width: 100%;
    border-right: none;
  }
  .cards, .category .cat-div {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* .car {
    min-width: 150px;
    margin-bottom: 15px;
  } */
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }

  .cards{
    flex-wrap: nowrap;
    justify-content: start;
  }

 

  .art2,.art-bla{
    height:33vh;
  }

  #h1-1{
    font-size: 25px;
  }

  article{
        min-height: 0px;
  }

  .fls{
    width:100%;
    gap:20px;
  }

  .today{
    width:40%;
  }

  .cat{
    width:100px;
    height:100px;
  }

  .blackspeaker{
    display: none;
  }

  .grid-div{
    display: none;
  }

  .thismonth{
    padding:0px;
  }

  .ser h3{
    font-size: 12px;
  }

  .ser p{
    font-size: 11px;
  }

  article{
    padding:0px;
    width:95%;
    margin: auto;
  }

  .m-nav{
    gap:20px;
  }

  .content{
    flex-direction: column;
  }

  .signup1{
    flex-direction: column;
  }

  .sign-up{
    width:100%;
  }



 
}



