*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}
/* 
.home{
    overflow: hidden;
} */

p,span{
    font-family: "Poppins", sans-serif;
}



.l-nav h1{
    font-family: "Inter", sans-serif;
    line-height: 24px;
    letter-spacing: 3%;

}

.input input{
    width:100%;
}

.m-nav{
    display: flex;
    gap:35px;
    position: relative;
    width:45%;
    justify-content: center;
}

.l-nav{
    width:20%;
    text-align: center;
}

.r-nav{
    width:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}



a::after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    height:4px;
    width:0px;
    background-color: aqua;
    transition: width 0.3s ease;
}


a:hover::after{
    width: 100%;
}


.m-nav span{
    height:3px;
    width:50px;
    background-color: aqua;
    opacity: 0;
    position: absolute;
}



.m-nav a{
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    font-size: 16px;
     position: relative;
    padding-bottom: 5px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.r-nav .input{
    width:60%;
    background-color: rgb(243, 236, 236);
    border-radius: 5px;
    /* border: 1px solid black; */
    padding:10px;
    display: flex;
      justify-content: space-between;
    align-items: center;

}

.input input{
    border:none;
    outline: none;
    background-color:rgb(243, 236, 236);
    font-family:"Poppins", sans-serif;
}

a,i{
    text-decoration: none;
    cursor: pointer;
    color:black;
}

h1,h2,h3,h4,h5,h6{
     font-family: "Inter", sans-serif;
}

span,button,input{
    font-family:"Poppins", sans-serif;
}

.homcon{
    display:flex;
    gap:15px;
}

.homcon h3{
    color:gray;
    cursor: pointer;
}

.main{
    padding:30px;
}

.content{
    display: flex;
    gap:20px;
    margin-top: 30px;
}

.cont1{
    width:25%;
    padding:20px;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.cont2{
    width:60%;
    padding:20px;
    /* background-color: aqua; */
    margin: auto;
}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    
}

.cal{
    width:30px;
    height: 30px;
     background-color: #db4444;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding:10px;
     
}

i{
    color:white;
}

hr{
    width:80%;
    margin: auto;
    border: 2px solid black;
}

.cont2 input{
    width:30%;
    padding:7px;
    outline: none;
    background-color: rgb(235, 233, 233);
    border: none;
}

textarea{
    width:95%;
    margin-top: 25px;
    background-color: rgb(235, 233, 233);
    height:200px;
    padding:10px;
    font-size: 15px;
    outline: none;
    border: none;
}

.cont2 button{
    padding:7px 15px;
    background-color: #db4444;
    color:white;
    border: none;
    border-radius: 3px;
    margin-left: 80%;
    margin-top: 20px;
    cursor: pointer;
}

input:focus{
    box-shadow: 0px 0px 8px black;
    outline: none;
    border: none;
}

textarea:focus{
    box-shadow: 0px 0px 10px black;
}

.input input:focus{
    box-shadow: none;
}

.footer{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding:25px;
    background-color: black;
}

.fot{
    color:white;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.fot1 input{
            padding:7px 15px;
            outline: none;
            border: none;
            font-family: "Poppins", sans-serif;
        
}

